
<h1>Articles in the Wikinimous Databes</h1>
<%= link_to "Add New", new_article_path %>
<% @articles.each do |article| %>
<h2><%= article.title %></h2>
<p><%= link_to "Show Article", article_path(article) %></p>
<p><%= link_to "Update Article", edit_article_path(article) %></p>
 <p> <%= link_to "Delete Article", article_path(article),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
<hr>
<% end %>

